# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Executables
/kj
/kjtests

# Vim swap files
*.swp
*.swo

# Object files
*.o

# Libraries
*.a
*.so

# Install manifest
/install_manifest.txt
